Repository habi-a/StatFive: changes, and which GitLab CI jobs are due for each by the changed paths.
All: statfive_api, statfive_web

statfive_api:
  stage: triggers
  trigger:
    include: api/.gitlab-ci.yml

statfive_web:
  stage: triggers
  trigger:
    include: web/.gitlab-ci.yml

add all functional test to ci
  web/.gitignore
  web/components/CardEmpty.jsx
  web/components/Menu.jsx
  web/cypress/e2e/equipe.cy.js
  web/cypress/e2e/login.cy.js
  web/cypress/e2e/match.cy.js
  web/cypress/e2e/menu.cy.js
  web/cypress/e2e/profil.cy.js
  web/cypress/fixtures/credentials-role-1.json
  web/cypress/fixtures/credentials-role-2.json
  web/cypress/fixtures/credentials-role-3.json
  web/cypress/fixtures/credentials-role.json
  web/cypress/fixtures/credentials.json
  web/cypress/fixtures/five-a-side.mp4
  web/cypress/support/commands.js
  web/package.json
  web/pages/creation-match.js
  web/pages/equipe.js
  web/pages/parametre.js
  web/pages/profil.js
  web/scripts/cypress-critical-parallel.js
  web/yarn.lock
Due: statfive_web

add all functional test to ci
  web/.eslintrc.json
Due: statfive_web

.
  web/yarn.lock
Due: statfive_web

ci lint tracker
  tracker/.gitlab-ci.yml
  tracker/requirements.txt
  tracker/server.py
  tracker/src/ball.py
  tracker/src/color.py
  tracker/src/draw.py
  tracker/src/goals.py
  tracker/src/model.py
  tracker/src/objects.py
  tracker/src/stats.py
  tracker/src/teams.py
  tracker/src/tracker.py
Due: none

Update .gitlab-ci.yml
  web/.gitlab-ci.yml
Due: statfive_web

add npm install functionnal test
  web/.gitlab-ci.yml
Due: statfive_web

try tracker test
  .gitlab-ci.yml
  tracker/requirements.txt
Due: none

fix pipelines
  database/init.sql
  tracker/requirements.txt
  web/.gitlab-ci.yml
Due: statfive_web

fix pipelines
  tracker/requirements.txt
  web/.gitlab-ci.yml
Due: statfive_web

fix pipeline pylint
  tracker/.gitlab-ci.yml
Due: none

all pipelines
  api/.gitlab-ci.yml
  tracker/.gitlab-ci.yml
  web/.gitlab-ci.yml
Due: statfive_api, statfive_web

fix tracker pipeline
  tracker/.gitlab-ci.yml
  web/.gitlab-ci.yml
Due: statfive_web

fix artefact
  web/.gitlab-ci.yml
Due: statfive_web

fix functionnal test
  web/.gitlab-ci.yml
Due: statfive_web

fix web test
  web/cypress/e2e/equipe.cy.js
  web/cypress/e2e/login.cy.js
  web/cypress/e2e/match.cy.js
  web/cypress/e2e/menu.cy.js
  web/cypress/e2e/profil.cy.js
  web/cypress/fixtures/credentials-role-1.json
  web/cypress/fixtures/credentials-role-2.json
  web/cypress/fixtures/credentials-role-3.json
  web/cypress/fixtures/credentials.json
  web/cypress/support/commands.js
  web/package.json
  web/yarn.lock
Due: statfive_web

fix web test
  web/cypress/support/commands.js
Due: none

test
  web/cypress/support/commands.js
Due: none

test
  web/cypress/e2e/login.cy.js
  web/cypress/support/commands.js
Due: none

test
  web/yarn.lock
Due: statfive_web

test
  web/cypress/e2e/login.cy.js
Due: none

test
  web/Dockerfile
Due: statfive_web

test
  web/Dockerfile
  web/cypress/support/commands.js
Due: statfive_web

rm coverage
  web/.gitlab-ci.yml
Due: statfive_web

resolv conflict
  .gitlab-ci.yml
  web/.gitlab-ci.yml
Due: statfive_web

unittest
  api/src/tests/__init__.py
  api/src/tests/route.py
Due: none

Update .gitlab-ci.yml
  api/.gitlab-ci.yml
Due: statfive_api

mobile
  app_mobile/.expo/README.md
  app_mobile/.expo/packager-info.json
  app_mobile/.expo/settings.json
  app_mobile/app.json
  app_mobile/src/components/profil/Profil.jsx
  app_mobile/src/components/verification/Verification.jsx
Due: none

pylint api
  api/.gitlab-ci.yml
  api/app.py
  api/src/config.py
  api/src/launcher.py
Due: statfive_api

fix unit test
  api/.gitlab-ci.yml
  api/src/launcher.py
  api/src/route.py
  api/src/tests/__init__.py
Due: statfive_api

try fixing lint et unit test
  api/.gitlab-ci.yml
  api/src/route.py
Due: statfive_api

fix pylint
  api/src/launcher.py
  api/src/route.py
Due: none

fix mysql of testing
  api/.gitlab-ci.yml
Due: statfive_api

try another fix unit test
  api/.gitlab-ci.yml
Due: statfive_api

fix pylint
  api/.gitlab-ci.yml
Due: statfive_api

fix definitively pylint
  api/.gitlab-ci.yml
Due: statfive_api

Path conditions:
  statfive_api: any of: api/*
  statfive_web: any of: web/*
