Repository habi-a/StatFive: changes, and which GitLab CI jobs are due for each by the changed paths.
All: statfive_api, statfive_web, statfive_tracker

.gitlab-ci.yml:

stages:
  - triggers


statfive_api:
  stage: triggers
  trigger:
    include: api/.gitlab-ci.yml
  rules:
    - changes:
        - api/*
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never

statfive_web:
  stage: triggers
  trigger:
    include: web/.gitlab-ci.yml
  rules:
    - changes:
        - web/*
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never

statfive_tracker:
  stage: triggers
  trigger:
    include: tracker/.gitlab-ci.yml
  rules:
    - changes:
        - tracker/*
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: never

change config test
  api/src/config.py
  api/src/route.py
Due: none

try a fix pytest
  api/src/config.py
Due: none

use root account for unit test
  api/.gitlab-ci.yml
Due: statfive_api

try sleep
  api/.gitlab-ci.yml
  api/src/config.py
Due: statfive_api

try without password
  api/.gitlab-ci.yml
  api/src/config.py
Due: statfive_api

Update README.md
  app_mobile/README.md
Due: none

fix varchar mysql model
  api/.gitlab-ci.yml
Due: statfive_api

fix varchar
  api/.gitlab-ci.yml
  api/src/models/complex.py
Due: statfive_api

fix all varchar error
  api/src/models/complex.py
  api/src/models/match.py
  api/src/models/user.py
Due: none

fix all varchar teams
  api/.gitlab-ci.yml
  api/src/models/team.py
Due: statfive_api

fix pending varchar
  api/src/models/user.py
Due: none

trigger job
  api/.gitlab-ci.yml
Due: statfive_api

route,py
  api/src/route.py
Due: none

trigger unit test api
  api/.gitlab-ci.yml
Due: statfive_api

swager admin
  api/src/controllers/admin_controllers.py
  api/src/specs/specs_admin.py
Due: none

add timeout for analysis
  tracker/server.py
Due: statfive_tracker

Remove some PDFs
  Fiche Projet GPE_StatFive.pdf
Due: none
