Repository habi-a/StatFive: changes, and which GitLab CI jobs are due for each by the changed paths.
All: statfive_api, statfive_web

statfive_api:
  stage: triggers
  trigger:
    include: api/.gitlab-ci.yml

statfive_web:
  stage: triggers
  trigger:
    include: web/.gitlab-ci.yml

Update ovh-config.yaml
  kubernetes/ovh-config.yaml
Due: none

user_id_db.complex_id
  api/src/controllers/match_controllers.py
Due: none

user_id_db.complex_id
  api/src/controllers/admin_controllers.py
Due: none

add monitoring
  grafana/kubernetes.json
  grafana/statfive.json
  kubernetes/alertmanager.yaml
  kubernetes/deploy.sh
  kubernetes/traefik-ingress.yaml
Due: none

add alerts
  grafana/kubernetes.json
  grafana/statfive.json
  kubernetes/alertmanager-statfive-rules.yaml
  kubernetes/deploy.sh
Due: none

put credentials email
  api/src/config.py
Due: none

send mail finish match
  api/src/controllers/admin_controllers.py
  api/src/controllers/match_controllers.py
  api/src/helper/user_mail.py
  api/src/templates/match_finish.html
Due: none

first case
  api/src/controllers/match_controllers.py
  api/src/controllers/users_controllers.py
Due: none

case
  api/src/controllers/match_controllers.py
  api/src/controllers/users_controllers.py
Due: none

case two
  api/src/controllers/users_controllers.py
Due: none

teams
  api/src/controllers/team_controllers.py
Due: none

getme
  api/src/controllers/team_controllers.py
  api/src/controllers/users_controllers.py
Due: none

ok
  api/src/controllers/team_controllers.py
  api/src/models/user.py
Due: none

teamlist
  api/src/controllers/team_controllers.py
Due: none

teamall
  api/src/controllers/team_controllers.py
Due: none

alteam
  api/src/controllers/team_controllers.py
  api/src/controllers/users_controllers.py
Due: none

nb_but
  api/src/controllers/team_controllers.py
  api/src/controllers/users_controllers.py
Due: none

aaa
  api/src/controllers/users_controllers.py
Due: none

push web
  web/components/Leaderboard.jsx
  web/components/Menu.jsx
  web/components/Profile.jsx
  web/package.json
  web/pages/_app.js
  web/pages/accueil.js
  web/pages/admin.js
  web/pages/classement.js
  web/pages/creation-match.js
  web/pages/historique.js
  web/pages/index.js
  web/pages/profil.js
  web/pages/reset-password/index.js
  web/pages/verification.js
  web/public/Soccer.gif
  web/styles/theme.js
  web/yarn.lock
Due: statfive_web

web
  web/.gitlab-ci.yml
  web/components/Leaderboard.jsx
  web/components/Menu.jsx
  web/components/Profile.jsx
  web/package.json
  web/pages/_app.js
  web/pages/accueil.js
  web/pages/admin.js
  web/pages/classement.js
  web/pages/creation-match.js
  web/pages/historique.js
  web/pages/index.js
  web/pages/profil.js
  web/pages/reset-password/index.js
  web/pages/verification.js
  web/public/Soccer.gif
  web/styles/theme.js
  web/yarn.lock
Due: statfive_web

correction mail result
  api/src/controllers/match_controllers.py
Due: none

Update web/.gitlab-ci.yml
  web/.gitlab-ci.yml
Due: statfive_web

Update .gitlab-ci.yml
  api/.gitlab-ci.yml
Due: statfive_api

Update .gitlab-ci.yml
  web/.gitlab-ci.yml
Due: statfive_web

fix lastname to firstname
  web/pages/accueil.js
  web/yarn.lock
Due: statfive_web

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

dataset
  api/src/controllers/admin_controllers.py
Due: none

delete @
  api/src/controllers/admin_controllers.py
Due: none

test fonctionnel
  web/.eslintrc.json
  web/components/CardEmpty.jsx
  web/cypress.config.js
  web/cypress/e2e/login.cy.js
  web/cypress/fixtures/credentials.json
  web/cypress/fixtures/example.json
  web/cypress/support/commands.js
  web/cypress/support/e2e.js
  web/package.json
  web/pages/historique.js
  web/pages/index.js
  web/pages/parametre.js
  web/pages/profil.js
  web/pages/verification.js
  web/yarn.lock
Due: statfive_web

add web functional test
  web/.gitlab-ci.yml
Due: statfive_web

fix functionnal
  web/.gitlab-ci.yml
Due: statfive_web

fix cypress
  web/.gitlab-ci.yml
Due: statfive_web

Update tracker/.gitlab-ci.yml
  tracker/.gitlab-ci.yml
Due: none

Path conditions:
  statfive_api: any of: api/*
  statfive_web: any of: web/*
